---
layout: default
---

{% assign links = (site.links | sort: 'title')) %}
{% assign tabtags = "Guides|Tools|Ressourcen|Inspirationen|Typographie|Farben|Generell|Vertiefungen" | split: "|" %}


<section class="section">
	<div class="container">

		<h1 class="title is-1">Links</h1>
		<h2 class="subtitle">Ein paar praktische Verweise rund um das Thema „Visuelle Kommunikation“</h2>

	</div>

</section>
<section class="section">
	<div class="container">
		<div class="tabs is-tab-navigation is-non-print">
			<ul>
				<li class="tab-item" data-tab="overview-item"><a >Alle</a></li>
				{% for navEle in tabtags %}
					<li class="tab-item" data-tab="{{navEle}}"><a >{{navEle}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="links is-tab-content is-overview-item">
			<div class="content">

				{% for link in links %}

					<h2 class="title is-3" id="{{ faq.id }}">{{ link.titel }}</h2>
					<p>{{link.text}}<br><a href="{{link.src}}">{{link.src}}</a></p>
					<p style="color: #999999;">{{link.tags | array_to_sentence_string: ''}}</p>


	  		{% endfor %}
	  	</div>
		</div>

		{% for navEle in tabtags %}
		<div class="links is-tab-content is-{{navEle}}">
			<div class="content">

				{% for link in links %}
					{% if link.tags contains navEle %}
						<h2 class="title is-3" id="{{ faq.id }}">{{ link.titel }}</h2>
						<p>{{link.text}}<br><a href="{{link.src}}">{{link.src}}</a></p>
						<p style="color: #999999;">{{link.tags | array_to_sentence_string: ''}}</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% endfor %}

	</div>
</section>
