---
layout: default
---

{% assign links = (site.links | sort: 'title')) %}

<section class="section">
	<div class="container">

		<h1 class="title is-1">Links</h1>
		<h2 class="subtitle">Ein paar praktische Verweise rund um das Thema „Visuelle Kommunikation“</h2>

	</div>

</section>
<section class="section">
	<div class="container">
		<div class="links">

			<div class="content">

				<h2 class="title is-2" style="border-top: solid 1px #bbbbbb; padding-top: 0.8rem;">Farben</h2>
				{% for link in links %}
					{% if link.tags contains "Farben" %}

						<h3 class="title is-3" id="{{ faq.id }}">{{ link.titel }}</h3>
						<p>{{link.text}}<br><a href="{{link.src}}">{{link.src}}</a></p>
						<p style="color: #bbbbbb;">{{link.tags | array_to_sentence_string: ''}}</p>

					{% endif %}
	  		{% endfor %}

				<h2 class="title is-2" style="border-top: solid 1px #bbbbbb; padding-top: 0.8rem;">Typographie</h2>
				{% for link in links %}
					{% if link.tags contains "Typogaphie" %}

						<h3 class="title is-3" id="{{ faq.id }}">{{ link.titel }}</h3>
						<p>{{link.text}}<br><a href="{{link.src}}">{{link.src}}</a></p>
						<p style="color: #bbbbbb;">{{link.tags | array_to_sentence_string: ''}}</p>

					{% endif %}
	  		{% endfor %}
	  	</div>
		</div>
	</div>
</section>
